{% extends '@App/layout.html.twig'%}

{% block body %}
    <h1>Products List</h1>

    {% for product in products %}
        <a href="{{ path('productItem', { id:product.id }) }}">Product {{ product.id }}: {{ product.title }}</a><br>
    {% endfor %}

{% endblock %}

{% block stylesheets %}

{% endblock %}