{% extends '@App/layout.html.twig'%}

{% block body %}
    <h2>Product page ID {{ product.id }}</h2>
    Title: {{ product.title }}<br>
    Price: {{ product.price }}$<br>
    Category: {{ product.category.name }}<br>
    Description: {{ product.description }}<br>

{% endblock %}

{% block title %}Product Page{% endblock %}
