{% extends '@App/layout.html.twig'%}

{% block body %}
    <h1>Categories List</h1>

    {% for categories in category %}
        <a href="{{ path('list_by_category', {id: categories.id}) }}">Category {{ categories.id }}: {{ categories.name }}</a><br>
    {% endfor %}

{% endblock %}
{% block title %}Categories{% endblock%}
{% block stylesheets %}{% endblock %}
