{% extends '@App/layout.html.twig' %}

{% block body %}
    <h1>Feedback</h1>

    {{ form_start(feedback_form) }}

    {{ form_row(feedback_form.email) }}
    {{ form_row(feedback_form.name) }}
    {{ form_row(feedback_form.message) }}


    {{ form_end(feedback_form) }}

{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block title %}Feedback{% endblock %}


